body{
    background-color: #6ea7b2;
}
#del_window{
    width: 318px;
    height: 178px;
    border: 1px solid #59afdd;
    position: absolute;
    background: #fff url(../img/question.png) no-repeat 32px 48px;
    left: 100px;
    top: 50px;
    display: none;
    i{
        width: 15px;
        height: 15px;
        background: url(../img/icon_close.png) no-repeat;
        margin: 10px 10px 0 0;
    }
    h3,p,div{
        text-align: center;
        height: 30px;
        line-height: 30px;
    }
    h3{
       margin-top: 40px;
       padding-left: 60px;
    }
    p{
        padding-left: 60px;
        margin-bottom: 30px;
    }
    .ensure,.cancel{
        display: inline-block;
        width: 80px;
    }
    .ensure{
        margin-left: 70px;
        background: #55addc;
        color: #fff;
    }
    .cancel{
        box-sizing: border-box;
        border: 1px solid #59afdd;
        color: #59afdd;
    }
}
#box{
    width: 1200px;
    height: 710px;
    border-radius: 20px;
    background-color: #fff;
    margin: 59px auto;
    .title{
        line-height: 70px;
        h1{
            width: 200px;
            height: 70px;
            background: url(../img/tt.jpg) no-repeat 27px 17px;
            text-indent: -9999px;
        }
        .user_head{
            width: 36px;
            height: 36px;
            background: url(../img/user-ico.jpg) no-repeat;
        }
        .arrow_down{
            width: 36px;
            height: 36px;
            background: url(../img/jt2.png) no-repeat 10px 15px;
        }
        .setting{
            width: 44px;
            height: 36px;
            background: url(../img/set.jpg) no-repeat 15px 10px;
            border-left: 1px solid #e0e6e7; 
        }
        h1+div{
            margin:22px 25px 0 0;
        }
    }
    .tools{
        height: 60px;
        background-color: #ecf0f6;
        border-bottom:1px solid #d0d9de; 
        overflow: hidden;
        .buttons{
            width: 822px;
            height: 38px;
            margin: 10px 0 0 20px;
            display: flex;
            justify-content: space-between;
            div{
                width: 108px;
                line-height: 36px;
                text-indent: 54px;
                border: 1px solid #d0d9de;
                border-radius: 4px;
                cursor: pointer;
            }
            .download{
                background: #fff url(../img/download.png) no-repeat 21px 10px;
            }
            .share{
                background: #fff url(../img/fenxiang.png) no-repeat 21px 10px;
            }
            .move{
                text-indent: 44px;
                background: #fff url(../img/move.png) no-repeat 21px 10px;
            }
            .rename{
                text-indent: 44px;
                background: #fff url(../img/ming.png) no-repeat 21px 10px;
            }
            .dele{
                background: #fff url(../img/delete.png) no-repeat 21px 10px;
            }
            .newFile{
                width: 152px;
                background:  #fff url(../img/ming.png) no-repeat 21px 10px;
            }
            .renew{
                width: 36px;
                background:  #fff url(../img/refresh.png) no-repeat 10px 10px;
            }
        }
        .changetype{
            width: 56px;
            height: 36px;
            background:#fff url(../img/sort_type.png) no-repeat center;
            text-indent: -9999px;
            margin: 11px 23px 0 0;
            border: 1px solid #d0d9de;
            border-radius: 4px;
            &.active{
                background:#fff url(../img/sort_type2.png) no-repeat center;
            }
        }
    }
    #content{
        height: 580px;
        .list{
            box-sizing: border-box;
            height: 100%;
            width: 258px;
            padding-top:10px; 
            border-right: 2px solid #e1e8ed;
            ul{
                padding-left: 20px;
            }
            h3{
                font:16px/32px '微软雅黑'; 
                text-indent: 60px;
                color: #949ea4;
                cursor: pointer;
                &:hover{
                    color: #55addc;
                }
                &.active{
                   background: url(../img/flie_open.png) no-repeat 15px 8px;
                }
                &.no_chlid{
                    background: url(../img/s_folder2.png) no-repeat 36px 8px;
                }
                &.has_chlid{
                    background: url(../img/flie_close.png) no-repeat 16px 8px;
                }
            }
        }
        .item{
            height: 100%;
            width: 940px;
            nav{
                width: 100%;
                line-height: 48px;
                border-bottom: 2px solid #e1e8ed;
                i{
                    width: 16px;
                    height: 16px;
                    border: 1px solid #d0d9de;
                    margin: 15px 27px 0 15px;
                    &.checked{
                        background: url(../img/checked.png) no-repeat;
                    }
                }
                .nav{
                    margin-bottom: -2px;
                }
                div{
                    padding: 0 10px;
                    cursor: pointer;
                    &.active{
                        color: #8bc3e5;
                        border-bottom: 2px solid #55addc;
                    }
                }
                span{
                    width: 14px;
                    height: 48px;
                    margin: 0 5px;
                    background: url(../img/br_jt.png) no-repeat 0 center;
                }
            }
            .file{
                background: #f5f8fa;
                height: 530px;
                &.no_file{
                    background:#f5f8fa url(../img/cover-bg.png) no-repeat center;
                }
                div{
                    float: left;
                    border: 1px solid transparent;
                    margin: 40px 0 40px 40px;
                    width: 178px;
                    height: 178px;
                    background: #fff url(../img/folder-b.png) no-repeat center 34px;
                    border-radius:4px;
                    &.checked{
                        border: 1px solid #55addc;
                    }
                    &:hover{
                        border: 1px solid #55addc;
                    }
                    i{
                        display: inline-block;
                        border: 1px solid transparent;
                        width: 16px;
                        height: 16px;
                        margin: 10px 0 0 10px;
                        &.checked{
                            background:url(../img/checked.png) no-repeat;
                        }
                    }
                    span{
                        display: block;
                        text-align: center;
                        margin-top: 104px;
                    } 
                }
            }
        }
    }
}